@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Oswald", sans-serif;
}

/* @property --rotate {
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
}

body {
   background-image: conic-gradient(from var(--rotate), #233d47, #fff 50%);
   animation: effectBg 5s linear infinite;
   background-attachment: fixed;
}

@keyframes effectBg {
   from {
      --rotate: 0deg;
   }
   to {
      --rotate: -360deg;
   }
} */

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
