.principal {
   text-align: center;
   width: 97%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 15px;
}

.imagen {
   width: 309px;
   height: 182px;
   position: relative;
   right: -1px;
   top: -150px;
}

.logo {
   position: relative;
   width: 600px;
   top: 100px;
   margin-right: -120px;
}

.card {
   width: 450px;
   height: 350px;
   margin: 10px;
   border-radius: 8px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card .front {
   position: relative;
   top: -130px;
}

.card .front .link {
   text-decoration: none;
   color: white;
}

.card .front .link:hover {
   text-decoration: none;
   color: #ccc;
}
