.content {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   position: absolute;
   width: 40%;
   top: 20px;
}

.select {
   cursor: pointer;
   position: relative;
   font-family: inherit;
   font-weight: 500;
   height: 45px;
   font-size: 18px;
   margin-right: 10px;
   letter-spacing: 0.05em;
   border-radius: 5px;
   border: none;
   background: linear-gradient(to right, #0085ff, #0085ff);
   color: ghostwhite;
   overflow: hidden;
   appearance: none;
   padding: 8px;
   border-radius: 4px;
}

.select:focus {
   outline: none;
   border-color: #999;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.select option {
   color: #000000;
   border-radius: 0;
}

.button {
   position: relative;
   display: flex;
   border-radius: 5px;
   background-color: #2781f8;
   box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   border: none;
   height: 45px;
   cursor: pointer;
}

.button:after {
   content: " ";
   width: 0%;
   height: 100%;
   background: #e0ffff;
   position: absolute;
   transition: all 0.4s ease-in-out;
   right: 0;
}

.link {
   text-decoration: none;
}

.button span {
   text-align: center;
   width: 100%;
   padding: 11px 25px;
   color: #fff;
   font-size: 1.125em;
   font-size: 17px;
   z-index: 20;
   transition: all 0.3s ease-in-out;
}

.button:hover span {
   color: #000000;
   animation: scaleUp 0.3s ease-in-out;
}

.button:hover::after {
   right: auto;
   left: 0;
   width: 100%;
}

@keyframes scaleUp {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(0.95);
   }

   100% {
      transform: scale(1);
   }
}
