.principal {
   display: flex;
   justify-content: center;
   height: 100vh;
}

@property --rotate {
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
}

.landing {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: flex-end;
   width: 100%;
   border: 1px solid black;
   padding-bottom: 150px;

   background-image: conic-gradient(from var(--rotate), #233d47, #fff 50%);
   animation: effectBg 5s linear infinite;
   background-attachment: fixed;
}

@keyframes effectBg {
   from {
      --rotate: 0deg;
   }
   to {
      --rotate: -360deg;
   }
}

.content {
   margin-right: 54px;
   height: 300px;
}

.content h3 {
   text-align: center;
   font-size: 27px;
   margin-bottom: 20px;
}

.btn {
   padding: 12px 2em;
   background: none;
   border: 2px solid #fff;
   font-size: 17px;
   color: #131313;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 0.3s;
   border-radius: 12px;
   background-color: #fff;
   font-weight: bolder;
   box-shadow: 0 2px 0 2px #000;
   display: block;
   margin: 0px auto;
}

.btn:before {
   content: "";
   position: absolute;
   width: 100px;
   height: 120%;
   background-color: #ff6700;
   top: 50%;
   transform: skewX(30deg) translate(-150%, -50%);
   transition: all 0.5s;
}

.btn:hover {
   background-color: #233d47;
   color: #fff;
   box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
   transform: skewX(30deg) translate(150%, -50%);
   transition-delay: 0.1s;
}

.btn:active {
   transform: scale(0.9);
}
