.wrapper {
   display: flex;
   justify-content: end;
}

.input {
   min-height: 50px;
   max-width: 250px;
   padding: 0 1rem;
   color: #fff;
   font-size: 15px;
   border: 1px solid #cd4d4d;
   border-radius: 6px 0 0 6px;
   background-color: transparent;
}

.submit {
   min-height: 50px;
   padding: 0.5em 1em;
   border: none;
   border-radius: 0 6px 6px 0;
   background-color: #cd4d4d;
   color: #fff;
   font-size: 15px;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
}

.submit:hover {
   background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
   border-color: #3898ec;
   outline: none;
}
